@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    <a href="http://msdn.microsoft.com/en-us/magazine/‎">MSDN</a> publishes articles written by expert software developers to
    hone your skills in developing for and on Microsoft technologies.
</p>

<p>
    <a href="http://jameschambers.com">James Chambers</a> is a Microsoft MVP in ASP.NET/IIS and a
    frequent speaker at conferences and user groups across Canada. He is the author of
    “Windows Azure Web Sites”, available via eBook with Wrox Press.
    You can reach him on Twitter at <a href="https://twitter.com/CanadianJames">@@CanadianJames</a>
</p>


