@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FrontClass</h1>
    <p class="lead">
        FrontClass is a virtual classroom that allows you to
        join other students in instructor-lead learning, hosted
        in Windows Azure Web Sites.
    </p>
    <p><a href="@Url.Action("Index", "Classroom")" class="btn btn-success btn-lg">Enter the Class &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mumblecore </h2>
        <p>
            Seitan flannel kogi, cliche pickled put a bird on it single-origin
            coffee church-key ethnic lomo Vice shabby chic. Mlkshk gentrify beard
            hashtag, mumblecore tote bag shabby chic. .
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bespoke Pitchfork</h2>
        <p>
            Seitan flannel kogi, cliche pickled put a bird on it single-origin
            coffee church-key ethnic lomo Vice shabby chic. Mlkshk gentrify beard
            hashtag, mumblecore tote bag shabby chic. .
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artisan Master</h2>
        <p>
            Seitan flannel kogi, cliche pickled put a bird on it single-origin
            coffee church-key ethnic lomo Vice shabby chic. Mlkshk gentrify beard
            hashtag, mumblecore tote bag shabby chic. .
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>